body {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	background-color: #ecf2f9;
	margin-top: 400px;
}

p1 {
	font-size: 60px;
	font-weight: bold;
}

p {
	font-size: 25px;
}