body {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	margin-right: 350px;
	margin-left: 350px;
	background-color: #ecf2f9;
	font-size: 35px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

#menu {
	width: 100%;
	font-size: 20px;
}

p {
	
	font-weight: 100;
}

#text {
	
}

dl {
	list-style-type:none;
	margin-top: 0px;
 	margin-bottom: 0px;

}
dt {
}

dd {
	font-size: 15px;	
}
