body {

	font-family: "Courier New", Courier, monospace;
	text-align: center;
	margin-right: 250px;
	margin-left: 250px;
	background-color: #ecf2f9;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 25px;
}

p1 {
	width: 100%;
	font-size: 20px;
}

p {
	font-size: 70px;
	font-weight: 100;
}

p2 {
	font-size: 25px;
}

dl {
	list-style-type:none;
	margin-top: 0px;
 	margin-bottom: 0px;

}

dd {
	font-size: 15px;	
}
